/* Main */
html {
  background-color: gray;
  color: white;
  padding: 0;
  margin: 0;
}

header {
  background-color: dimgray;
  font-size: 35px;
  font-weight: 900;
  padding: 20px;
  margin: 0;
}

main {
  padding: 0 20px 20px;
}

/* Lists */
.all-list-cards {
  display: flex;
  flex-wrap: wrap;
}

.list-card {
  background-color: darkslateblue;
  margin: 10px 25px;
}

.list-card-name {
  text-align: center;
  padding: 10px 20px;
  background-color: midnightblue;
  font-size: 25px;
  font-weight: 700;
}

.detailed-list {
  background-color: darkslateblue;
  margin: 10px 25px;
}

/* Items */
.item-card {
  padding: 10px;
}

.list-name {
  padding: 15px 20px;
  background-color: midnightblue;
  font-size: 30px;
  font-weight: 800;
}

/* Breadcrumbs */
.breadcrumbs {
  background-color: lightslategray;
  color: black;
  font-size: 15px;
  padding: 3px 10px;
  margin: 0 0 10px 0;
}

/* Forms */
label {
  margin: 5px;
}

/* Buttons */
a, button {
  all: unset;
  cursor: pointer;
}

.create-list-button {
  background-color: green;
  color: white;
  font-size: 20px;
  padding: 5px;
  margin: 10px;
}

.list-form .create-list-button {
  margin: 10px 0;
}

.add-item-button {
  background-color: green;
  color: white;
  font-size: 20px;
  padding: 5px;
  margin: 10px;
}

.delete-list-button {
  background-color: darkred;
  color: white;
  font-size: 20px;
  padding: 5px;
  margin: 10px;
}

