html {
  background-color: gray;
  color: white;
  padding: 0;
  margin: 0;
}

header {
  background-color: dimgray;
  font-size: 35px;
  font-weight: 900;
  padding: 20px;
  margin: 0;
}

main {
  padding: 20px;
}

.all-list-cards {
  display: flex;
}

.list-card {
  background-color: darkslateblue;
}

.list-card-name {
  text-align: center;
  padding: 10px;
  background-color: midnightblue;
  font-size: 25px;
  font-weight: 700;
}

.item-card {
  padding: 5px;
}

.create-list-button {
  background-color: green;
  color: white;
  font-size: 20px;
  padding: 5px;
  margin: 10px;
}

a, button {
  all: unset;
  cursor: pointer;
}

.breadcrumbs {
  color: black;
  font-size: 15px;
  padding: 10px;
}